<div class="min-h-screen flex flex-col justify-center items-center bg-white text-green-700">
    <h1 class="text-9xl font-extrabold text-green-500 mb-6">404</h1>
    <p class="text-2xl font-semibold mb-4">
      The page you are looking for doesn't exist or has been moved.
    </p>
    <button 
      routerLink="/dashboard"
      class="bg-green-500 hover:bg-green-600 text-white font-bold mt-3 py-3 px-6 rounded-md shadow-md transition duration-300 cursor-pointer"
    >
      Back to Dashboard
    </button>
    <div class="mt-6">
      <img 
        src="https://static.vecteezy.com/system/resources/thumbnails/006/549/647/small/404-landing-page-free-vector.jpg" 
        alt="404 Illustration"
        class="w-full max-w-sm"
      />
    </div>
  </div>
  